* {
    background: rgb(51, 51, 51);
    color: white;
}

QHeaderView::section {
    color: black;
}

QPushButton {
    /*background: #535353;*/
    background-color: rgb(60, 63, 65);
    /*border-radius: 10px;*/
}

QMenuBar {
    background: rgb(51, 51, 51);
    color: white;
}

QMenuBar::item::selected {
    background: lightgray;
    color: black;
}

QMenu:item:disabled {
    color: black;
}

QMenu::item:disabled:selected {
    background: transparent;
}

QMenu:item::selected {
    background: lightgray;
    color: black;
}